:root{
  --red: #A6051A;
  --yellow: #FFEB00;
  --white: #ffffff;
  --black: #111111;
  --custom-font: 'Indie Flower', cursive;
}

html, body{
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: var(--black);
  font-family: var(--custom-font, sans-serif);
  color: var(--white);
}
.App {
  width: 100%;
}

.header{
  width: 100%;
  height: 6rem;
  border-bottom: 5px solid var(--white);
  display: flex;
  position: relative;
  justify-content: center;
}

.titleContainer, .scoreboard{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.title, .rules{
  margin: 0px;
  padding: 0px;
}

.scoreboard{
  position: absolute;
  right: 1rem;
  justify-self: flex-end;
  font-size: 16px;
}

